DIV.flash-notice {
    background-color: #009933;
    color: #efe;
    text-align: center;
    font-size: 0.9em;
}
DIV.flash-error {
    background-color: #AA3333;
    color: #fee;
    text-align: center;
    font-size: 0.9em;
}
DIV.mv_blog_navigation {
    text-align: right;
    overflow: hidden;
    white-space: nowrap;
}
DIV.mv_blog_navigation SPAN{
    white-space: normal;
    padding: 3px;
    margin: 4px 0;
    border: 1px solid #bbb;
    display: inline-block;
}
FORM UL.mv_blog_error {
    margin: 8px 0 2px 0;
    padding-left: 14px;
    color: #A33;
}
PRE { font-size: 0.8em; font-size: 0.8em; padding: 3px; }
DIV.mv_blog_accroche A, DIV#mv_blog_article A { text-decoration: underline; }
DIV.mv_blog_accroche A:hover, DIV#mv_blog_article A:hover { text-decoration: none; }

.clear {
  clear: both;
}


DIV#logo-block {
    text-transform: uppercase;
}

.bgless {
    background: none;
    border: none;
    box-shadow: none;
}
.contained {
    padding: 10px;
}
.contained-topless {
    padding: 0 10px 10px;
    margin-top: 20px;
}

ul {
    list-style-type: none;
}
#menu {
    margin: 1% 0;
}
#menu ul {
    margin: 0;
}
#menu li {
    display: inline-block;
    margin: 1.5% 6% 0 0;
    font-family: Arial,sans-serif;
    font-weight: bolder;
    text-align: left;
    font-style: normal;
    text-transform: uppercase;
    font-size: 80%;
}
#menu ul:last-child li:last-child {
    margin: 0;
}

.title {
    background: #465869;
    color: #FFF;
    padding: 0 10px;
    font-size: 16px;
    line-height: 40px;
    font-weight: bolder;
    margin: 0;
}
.title a {
    color: #FFF;
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 90%;
}
.naked {
    padding: 0;
    margin: 0 ;
}
.side-box {
    background: #d7d7d7;
    color: #fff;
}

DIV#header {
    margin: 5px 0;
    padding-bottom: 4px;
    border-bottom: 1px solid #3E4147;
}
DIV#img-caption {
    margin-top: 10px;
    border-top: 1px solid #9433AB;
}
#ad-spot {
    padding: 15px 0 0;
    border-top: 1px solid #eeeeee;
}
#about {
    padding: 0 7px 5px;
}
#wrapper {
    border-top: 2px solid #3E4147;
}
#container {
    max-width: 950px;
    margin: 0 auto;
}
#footer {
    border-top: 1px solid #3E4147;
    padding: 2% 2% 0;
    text-transform: uppercase;
    font-size: 80%;
}
.btn-purple {
    color: #fff;
    background-color: #465869;
    border-color: #222 #222 #000000;
    border-radius: 0;
    border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
}
#comment-content {
    padding: 0 2%;
    border: 1px solid #EEEEEE;
    margin-bottom: 2%;
}