{% extends 'MvBlogBundle::base.layout.html.twig' %}

{% if form is defined %}
    {% form_theme form 'MvBlogBundle::form_div_layout.html.twig' %}
{% endif %}

{% block title %}
    {{ parent() }}{% if app.request.get('page') > 1 %} (page {{ app.request.get('page') }}){% endif %}
{% endblock %}

{% block blog_body %}
    {% include "MvBlogBundle::flashes.html.twig" %}
    <div class="row-fluid">
        <div class="span9">
            {% block content_body %}{% endblock content_body %}
        </div>

        <div class="span3" style="background-color: #465869;">
            {# {% render controller('MvBlogBundle:Default:menu') %} #}
            <h2 style="border-bottom: 1px solid #FFFEDF;" class="title">On Social Networks</h2>

            <div class="well bgless">
                <i style="display: inline-block; width: 30%" class="icon-twitter icon-2x"></i>
                <i style="display: inline-block; width: 30%" class="icon-facebook icon-2x"></i>
                <i style="display: inline-block; width: 30%" class="icon-google-plus icon-2x"></i>
            </div>
        </div>
    </div>
{% endblock blog_body%}